# MediaWiki Database Configuration
DB_CONTAINER_NAME=db
DB_NAME=my_wiki
DB_USER=wikiuser
DB_PASSWORD=wikipassword

# MediaWiki Server Configuration
MW_SERVER=http://localhost:8080
MW_SECRET_KEY=7c76a443263ec61560964f95a698024d49487f962a154e10f2dbf7b26a48d4d5
MW_UPGRADE_KEY=2381edfb0e189026
MW_DEBUG=false

# Staging Environment Configuration
STAGING_DB_CONTAINER_NAME=db_staging
STAGING_DB_NAME=my_wiki
STAGING_DB_USER=wikiuser
STAGING_DB_PASSWORD=wikipassword
STAGING_MW_SERVER=http://localhost:8081
STAGING_MW_SECRET_KEY=8d87b554374fd72671075g06b709135e50598g073b265f21g3ecg8c37b59e5e6
STAGING_MW_UPGRADE_KEY=3492fhgc1f290137
STAGING_MW_DEBUG=true